.active.close-button-right.dirty.has-icon-theme.rank.sizing-fit.tab {
    box-shadow: rgb(230, 62, 62) 0px -1px inset !important;
}

.entity.name.tag.inline.any.html {
    color: green !important;
}


body {
background-color: black;
}
